@font-face {
  font-family: 'JeremyPopItalic';
  src: url('/asset/fonts/Urbanist/Urbanist-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'JeremyPopBold';
  src: url('/asset/fonts/Poppins/Poppins-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'JeremyDosisSemiBold';
  src: url('/asset/fonts/Dosis/static/Dosis-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'JeremyPoppinsLight';
  src: url('/asset/fonts/Poppins/Poppins-Light.ttf') format('truetype');
}
       
*{
  box-sizing: border-box;
}
body{
font-family:JeremyPoppinsLight;
margin: 0;
padding: 0;
line-height: 1.6;
background-color: #040404;
width: 100%;
}

header{
text-align: center;
background-color: #040404;
color: #fff;
margin-top: 10px;
}
header h1{
font-size: 1.9rem;
}
header h2{
font-size: 1.6rem;
}
header h1, h2{
margin: 0 0 30px 0;
}
.resume-div{
display: flex;
justify-content: center;
align-items: center;
text-align: center;
}
.resume-child-div{ 
width: 165px; 
height: 46px;
border-radius: 23px;
border: solid #ff6666 0.5px;
display: flex;
justify-content: space-between;
align-items: center;
color: #fff;
background-color:transparent;
}
.resume-div button{
background-color:#ff6666;;  
border: none;
color: white;
border-radius: 50%;
height: 46px;
width: 46px;
cursor: pointer;
}
.my-resu{
  margin-left: 7px;
  font-size: 1.1rem;
}
.resume-div i{
font-size: 26px;
}
.sec-dtls{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; 
  background-color: #040404;
  color: #F4F4F4;
  margin-top: 30px;
}
.sec-dtls img{
  width: 450px;
  
}
.div-intro{
  font-size: 32px;
  text-align: left;
  display: flex;
  align-items: center;
 
}
.div-intro h3{
  font-family: jeremyt;
  margin: 0;
  
}
.name-style{
  font-size: 2rem;
  color: white;
  /* text-shadow: 7px 4px 7px  #ff6666; */
  text-shadow: 4px 1px 2px #ff6666, 10px 0 25px #ff6666, 0 0 5px #ff6666;
}
.icon-round i{
  color: white;
  font-size: 20px;
  background-color: none;
}
.icon-div{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  position: fixed;
  right: 2%;
  top: 33%;
  bottom: 33%;
  cursor: pointer;
}
 .icon-round{
  width: 49px;
  height: 49px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #6e7073;
  transition: background-color 0.50s ease;
}
 
.icon-round:hover{
 background-color:#d59d9d; 
}
.icon-round.active{
  background-color: #ff6666;
}

.icon-round:hover .tooltip{
  opacity: 1;
}
.tooltip {
  position: absolute;
  left: -65px; 
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  padding: 4px 8px;
  border-radius: 4px;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}
.c{
   left: -115px;
}
.p{
   left: -85px;
}



/* Mobile */
@media only screen and (min-width:320px) and (max-width:500px){
.sec-dtls{
 display: flex;
 flex-direction: column;
 padding-bottom: 70px;
}
.resume-child-div{ 
width: 154px;
}
.my-resu{
  font-size: 0.9rem;
}

.div-intro{
font-size: 1rem;
padding:0 8px;
}
.img-div{
 text-align: center;
}
.img-div img{
  width: 300px;
}
.icon-round i{
font-size: 30px;
color: #dbe1e8;

}
.icon-div{
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: row;
  justify-content: space-around;
  background-color: #2a2e35;
  z-index: 1000;
  top:86%;
  display: flex;
  align-items: center;
  width: 100%;
  
}
.icon-div span{
 display: none;
}
.icon-round{
  width: 60px;
  height: 60px;
  background-color: #6e7073;
}
}


/* Ipad */
@media only screen and (min-width:768px) and  (max-width:768px){
.icon-round i{
font-size: 30px;
color: #dbe1e8;

}
.icon-div{
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: row;
  justify-content: space-around;
  background-color: #2a2e35;
  z-index: 1000;
  top:89%;
  display: flex;
  align-items: center;
  width: 100%;
  
}
.icon-div span{
 display: none;
}
.icon-round{
  width: 60px;
  height: 60px;
  background-color: #6e7073;
}
}